/* The code below is an example of how simple and easy it is to
   style and format HTML documents. Feel free to add anything you 
   like to it.*/

body {
    background-color: rgb(167, 167, 167);
    color: rgb(0, 0, 0)
}

h1 {
    text-align: center;
    font-family: 'Dubai';
    background-color: rgba(122, 122, 122, 0.644);
    background-clip: border-box;
}

h2 {
    text-align: center;
    font-family: 'Dubai';
    font-size: xx-large;
    background-clip: border-box;
}

p {
    text-align: justify;
    font-family: 'Dubai Light';
    margin: 10mm;
}

p.credits {
    text-align: left;
    font-size: large;
}

p.note {
    font-size: smaller;
    margin-top: 5px;
    margin-bottom: 5px;
}

p.buttonp {
    text-align: center;
}

img {
    height: 30mm;
    cursor: pointer;
    margin-bottom: 10mm;
}

.parallax1 {
  background-image: url("HTML Code.png");
  min-height: 350px;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
    background-image: url("VS Code Interface 2.png");
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

img.background {
    min-height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    background-color: rgba(71, 71, 71, 0.247);
    border: none;
    width: 60mm;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: black;
    transition-duration: 0.4s;
    padding: 20px 20px;
    display: inline-block;
    margin-left: 10mm;
    margin-right: 10mm;
}

button:hover {
    background-color: rgb(122, 122, 122);
    color: white;
    cursor: pointer;
}

input {
    margin-left: 10mm;
    font-size: larger;
    color: black;
    background-color: rgba(71, 71, 71, 0.247);
    border-color: rgba(0, 0, 0, 0);
    cursor: text;
    transition-duration: 0.4s;
}

input:hover {
    background-color: yellow;
    border-color: rgba(71, 71, 71, 0.76);
}